{% extends "cart.html" %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}
{% block contentbasket %}
<div class = "buttonzagolovok">
    <h1>Корзина</h1>
        {% if cart %}
              <a href="{% url 'orders:order_create' %}" class="buttongetall">Заказать</a>
        {% endif %}
</div>
    <div class="basket">
				
        <div class="bd">			
        <div class="redluser">
        {% with service=item.service %}	
        <div class="buyh2"><h2>Сумма: {{ cart.get_total_price }}руб.</h2></div>
        {% endwith %}
        </div>
        <a href="{% url 'mainservices:index' %}" class="addbtnus">Добавить услугу</a>
    </div>
    </div>
    <div class="activezak">
    {% for item in cart %}
    {% with service=item.service %}	

        <fieldset>
            <legend class="filtrlegend">{{ service.service_name }}</legend>
            <img src="{{ service.service_images.url }}" style="width: 400px; height: 250px;">
            <div class="uslugapriceus"><img src="{% static 'remontPC/image/ruble.png' %}"   alt=""><p> Стоимость: {{ item.total_price }}  руб.</p><p>Количество: {{ item.quantity }}</p></div>
            
            <a href="{% url 'cart:cart_remove' service.id%}" class="btnhis">Убрать с заказа</a>
            </fieldset>
        {% endwith %}
        {% endfor %}
    </div>

{% endblock %}
