/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}


ol, ul {
	padding-left: 40px; 
  margin-top: 1em; 
  margin-bottom: 1em;
}


blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

* {
  margin: 0;
}
html, body {
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1 0 auto;
}


body{
	background-color: #D9D9D9;
	color: #0D0D0D;
	font-family: 'Open Sans', sans-serif;
}


header, footer{
	background-color: #A6A6A6;
}



.mainheader{
	display: flex;
  flex-wrap: wrap;
}
.mainfooter{
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.logo {
	display: flex;
	flex:2;
	align-items: center;
 	justify-content: space-between;
 	flex-wrap: no-wrap;
 	font-style: bold; 
}
.imgA{
  margin-top: 3px;
}

.logo p{
	flex: 1 1 200px;
  	padding:10px;

}


.logo a{
	text-decoration: none;
	color:#000;
	font-size: 1.2em;
}


.logo img{
	height:60px;
	width: 60px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}


.logo img:hover{
  background-color: #D9D9D9;
  border-radius: 3px;
  cursor: pointer;
}


.contacts{
	display: flex;
	flex:2;
	align-items: center;
 	flex-wrap: no-wrap; 
 	justify-content: center;
}

.phone{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  flex-wrap: wrap; 
}
.phone img{
  margin-right: 5px;
}
.phone img:hover{
  background: #5d84ae; 
  color: #fff; 
  border-radius: 24px; 
  border: 0.2em solid black;
}

.mail{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-right: 20px;
}
.mail img{
  margin-right: 5px;
}
.mail img:hover{
  background: #5d84ae; 
  color: #fff; 
  border-radius: 24px; 
  border: 0.2em solid black;
}

.time{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
    flex-wrap: wrap; 
}
.time img{
  margin-right: 5px;
}
.time img:hover{
  background: #5d84ae; 
  color: #fff; 
  border-radius: 24px; 
  border: 0.2em solid black;
}
.geol{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  flex-wrap: wrap; 
}
.geol img{
  margin-right: 5px;
}
.geol img:hover{
  background: #5d84ae; 
  color: #fff; 
  border-radius: 24px; 
  border: 0.2em solid black;
}
.contacts, .Sochseti, .login, .korzina {
	font-size: 0.8em;
}


.contacts img, .Sochseti img, .login img, .korzina img{
	height:42px;
	width: 42px;
}


.Sochseti{
	display: flex;
	margin-top: 15px;
	flex:1;
	justify-content: center;
}


.Sochseti a {
    text-align: center;
  	width: 40px;
    height: 40px;
    float: left;
    background: #D9D9D9;
    border: 1px solid #ccc;
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}


.vk a:hover {background: #5d84ae; color: #fff; border-radius: 24px;  border: 0.2em solid black;}


.youtube a:hover {background: #c4302b; color: #fff;border-radius: 24px;border: 0.2em solid black;}


.login{
	display: flex;
	flex:3;
	align-items: center;
 	justify-content: flex-end;	
}


.login img:hover{
  background: #5d84ae; 
  color: #fff; 
  border-radius: 24px; 
  border: 0.2em solid black;
}
.korzina img{
  align-items: center;
  display: flex;
  justify-content: center;
  height:42px;
  width: 42px;
  margin-right: 15px;
  flex-wrap: wrap; 
}
.korzina img:hover{
  background: #5d84ae; 
  color: #fff; 
  border-radius: 24px; 
  border: 0.2em solid black;
}
.login p{
  padding:30px;
}
.login a{
  text-decoration: none;
  color: black;
}
.login p a:hover{
  background-color: #D9D9D9;
  border-radius: 3px;
  cursor: pointer;
}


.login .button{
  text-align: center;
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  margin-right: 10px;
  padding:10px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  width: 25%;
  border: 0.1em solid black;

}


.button:hover {
    background:#D9D9D9;
    cursor: pointer;
}

/*Отзыв на главной*/
  #burg a{
    display: block;
    width: 70px;
  }
  #burg{
    width:100%;
    background:#404040;
    padding: 7.5px 0 7.5px 2%;
  }
  #burg span{
    display: flex;
    margin: 6px;
    width: 20px;
    height: 2px;
    background:#f2f2f2;   /**/
    z-index: 999;
  }
  .admenu-mobile{
    display: flex;
    width: 100%;
    background: #404040;
    flex-direction: column;
  }
  #desktop{
    display: none;
  }

  .admenu-mobile a{
    font-size:1.3em;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f2f2f2;
  }
  .admenu-mobile a:hover{
    background-color: #A6A6A6;
  }
  .admenu-mobile li{
    list-style-type: none;
    margin: 4% 5%;
  }
  /* } */
  .admenu-mobile ul{
    padding: 1% 0;  
  }
  /*2188*/ /*1496*/
@media only screen and (min-width: 1496px) and (max-width: 2188px){ 
    .masterstxt{
    width: 71%;
    margin-left: 15%;
 
  }
}
@media only screen and (min-width: 1119px) and (max-width: 1600px){ 
   .sales{
    width: 74%;
    margin-left: 13%;
   }
    .AllUslugi{
    width: 72.2%;
    margin-left: 14%;
  }
  .masters{
    width: 65%;
    margin-left: 17.5%;
 
  }
/*  .masterstxt{
    width: 66%;
    margin-left: 17.5%;
 
  }*/
  .content .masters div{
      margin: 1.4rem;
    }
    .content .masterstxt div{
      margin: 1.4rem;
    }
}
@media only screen and (min-width: 995px) and (max-width: 1180px){
/*1180- 995*/

/*  .GlUslugi{
    width: 81%;
    margin-left: 9%;
  }*/
  .masters{
    width: 78%;
    margin-left: 11%;
 
  }
  .masterstxt{
    width: 78%;
    margin-left: 11%;
 
  }
    .AllUslugi{
    width: 72.5%;
    margin-left: 13%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 910px){
    .salesss img{
  width: 100%;
  }
  .content .saless{
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1260px){
  .content .filtrfieldset{
    width: 500px;
  }
/*  .content .activezak fieldset{
    margin:0;
  }*/
  .
  .content .addbtnus{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width : 480px) {
  .logo{flex:2;}
  .Sochseti{margin-left:10px;flex:1;}
  .contacts{flex:4;}
  .contacts footer{flex:2;}
 /* .time {margin-left: 5px;flex:3;}*/
  .phone {margin-right: 5px;}*/
  .login{flex:3;}
  .admenu  {
    border-bottom: 0;
  }
  .content .AllUslugi {
    width: 100%;
  }
  .GlUslugi div{
    width: 100%;
  }
  .buttonzagolovok h1{
    margin-bottom: 15px;
  }
  .content .buttonzagolovokred input{
   margin:0; 
   width: 340px;
  }
  .buttongetall {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
  }
  	.content .pagination a{
	margin:0;
	}
  .content .buttonzagolovokred .buttonsave{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    text-align: center;
    margin-right: 20px;
  }
  .all{
    flex-wrap: wrap;
    justify-content:center;
    box-sizing: border-box;
  }
  .filtrPO{
    flex-wrap: wrap;
  }
  .halffiltr div{
    width: 100%;
  }
  .filtrUsluga input{
    width: 100%;
  }
  .filtrMasters input{
    width: 100%;
  }
  .carduslugi fieldset{
    width: 100%;
  }
  .opisanieuslugi{
      margin-right:  10px;
  }
  .carduslugi img {
    margin-left: 10px;
    margin-right: 10px;
  }
  .filtr fieldset{
    width: 100%;
  }
  .filtruslugi fieldset{
    width: 100%;
  }
  .vhod form{
    width: 320px;
  }
  .newreviews form{
    width: 320px;
  }
  .textandbutton .button{
   width: 100%;
  }
   .content .addbtnus{
/*    margin:0;*/
    width: 100%;
   }
  .content .activezak{
    margin:0;
        margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
   /* width: 92%;*/
/*    margin-left: 5px;
    margin-right: 5px;*/
  }
  .content .activezak fieldset{
    width: 100%;
    margin:0;
    margin-top: 10px;
    margin-bottom: 10px;
  /*  margin-left: 5px;*/
  /*  margin-right: 5px;*/
  }
  .buttonzagolovok .buttongetall{
    margin-left:  20px;
  }
  .content .rating-area{
    margin-left:  -15px;
  }
  .content .textandbutton .button{
    margin:0;
    margin-top: 5px;
  }
  .salesinside{
   flex-wrap: wrap;
   justify-content: center;
  }
  .content .imgpodcard img{
    width: 340px;
  }
  .salesinside p{
    width: 100%;
  }
  .content .buttonadd{
   /* width: 100%;*/
    margin-top: 20px;
  }
/*   .container label{
    display: none;
  } */
  .container322 b{
    display: none;
  }
  .redluser label{
    display: none;
  }
  .content .buy label{
    font-style: normal;
  }
  .content .salesCard b{
  	display: none;
  }

  .filtrPO select{
    width: 100%;
  }
  .filtrPO {
    width: 100%;
  }
  .filtrPOuslugi{
      display: flex;
     flex-wrap: wrap;
  }
  .filtrPOuslugi .filtrUslugaa {
      padding: 5px 1px 5px 0px;
      margin-top: 10px;
  }
  .filtrfieldsetuslugi{
    width: 100%;
    margin-right: 5px;
    margin-top: 10px;
  }

  .allcardsus .carduslugsfie {
    width: 100%;
    margin-right: 5px;
  }
  .allcardsus .carduslugsfie .button{
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .content .allcardsus div{
   margin: 0;
   margin-top: 10px;
  }
  .kont1{
  display: flex;
  flex-wrap: no-wrap;
  }
  .kont2{
    display: flex;
    flex-wrap: no-wrap;
  }
  .kont3{
    display: flex;
    flex-wrap: no-wrap;
  }
  .content .zagolovcard h1{
    font-size: 33px;
  }
  .content .contactsicon{
    justify-content: flex-start;
    margin-left: 10%;
  }
  .content .zagolovq h1{
     font-size: 33px;
  }
  .content .cardpoduslugi{
    width: 100%;
  }
  .content .tabs{
   width: 94%;
  }
  .content .buttonzak{
    margin: 0;
    width: 98%;
  }
  .content .buttonred{
    width: 98%;
    margin: 0;
    margin-top: 10px;
  }
  .content .reduser input{
    margin: 0;
    width: 90%;
    margin-left: 11px;
  }
   .content .bd input{
    margin: 0;
    width: 90%;
   /* margin-left: 11px;*/
  } 
  .content .bd select{
    margin:0;
    width: 90%;
   /* margin-left: 11px;*/
  }
  .content .redluser{
    width: 100%;
  }
  .content .btnback{
    margin:0;
    width: 100%;
  }
  .content .btnsave{
  /*  width: 100%;*/
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right:  10px;
  }
  .content .btnsave a{
    width: 100%;
  }
  .content .contai{
    width: 100%;
    justify-content: center;
  }
  .salesss img{
  width: 100%;
  }
  .content .saless{
    width: 100%;
  }

}



@media only screen and (min-width: 760px){
  .contacts{flex:3;}
  .Sochseti{flex:1;}
  .logo footer{flex:1.5;}
  .admenu-mobile,#burg,#mobile
  {
    display: none;
  }
  .admenu {
    width: 100%;
    background: #404040;
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #desktop{
    display: flex;
  }
  .admenu ul{
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
  }
  .admenu li{
    display: inline;
    float: left;
    text-align: center;
    width: 120px;
  }
  .admenu a{
    color: #f2f2f2;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 40px;

  }
  .admenu li a{
    border-right: 1px solid #576979;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
  }
  .admenu a:hover{
    background-color: #A6A6A6;
  }
  .admenu li:last-child a {
    border-right: 0;
  }
}
@media only screen and (min-width: 1610px){
  .buttongetall{
    width: 14%;
    text-align: center;
  }
}

.zagolov h1{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: bold;
  display: flex;
  font-size: 40px;
  justify-content: center;
  text-align: center;
}
.AllUslugi{

  display: flex;
  justify-content:center;
  flex-wrap: wrap;

}
/*.AllUslugi div{
  border: 0.1em solid #333;
  padding: 1em 1em calc(1em + 8px);
  text-align: center;
  background-color: #A6A6A6;
}*/
.AllUslugi h2{
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 10px;
  display: flex; 
  font-size: 20px; 
}
.AllUslugi h2 a{
    text-decoration: none;
    color: black;
}
.AllUslugi a:hover {
    cursor: pointer;
}
.AllUslugi img{
  justify-content: space-around;
  /* margin-left: 30px; */
}
.AllUslugi li{
  padding: 4px 0;  
  position: relative;
  margin-bottom: 0.15em;
  text-align: left; 
  
}
/*.buttonUslugi{
  position: absolute;
  margin: 40% 50% 0 10%;
  white-space: nowrap;
}*/
.AllUslugi .button {
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding: .20em 7.2em calc(.10em + 3px);
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  justify-content: space-around;
  border: 0.1em solid black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.buttonzagolovok{
  display: flex;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-size: 18px;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
  align-items:  flex-start;
}
.buttonzagolovok h1{
  font-weight: bold;
  display: flex;
  font-size: 40px;
  justify-content: center;
  text-align: center;
}
.buttonzagolovokred{
    display: flex;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-size: 18px;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
  align-items:  flex-start;
}
.buttongetall {
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  color:#000000;
  border-radius:5px;
  margin-left:  20px;
  border: 0.1em solid black;
  font-size: 20px;
  transition:0.3s background;
  padding: .20em 1.2em calc(.10em + 3px);
  margin-top: 5px;
}
.buttongetall:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.buttonsave {
    background:#F2F2F2;
  border: none;
  text-decoration: none;
  color:#000000;
  border-radius:5px;
/*  margin-left:  10px;*/
  margin-right: 45px;
  margin-top: 13px;
  border: 0.1em solid black;
  font-size: 20px;
  transition:0.3s background;
  padding: .10em 1.2em calc(.10em + 3px);
}
.buttonsave:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.kont{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.masters {
  display: flex;
  color: black; 
  padding: 1em 10px;
  justify-content:center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.masters p{
  text-align: center;
  padding:2% 10% 1% 15%;
  font-size: 1.2em;
  line-height: 1.2em;
}
.masters h2{
  text-align: center;
  padding:2% 10% 1% 15%;
  font-size: 1.6em;
  line-height: 1.2em;
}
.masters div{
  border: 2px solid #333;
  text-align: center;
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:0 0rem 1rem 0rem;
  margin: 1.25rem;
  width: 400px;
}
figcaption  {
  padding:0 1rem 1rem 1rem;
}
.AllUslugi figure {
  box-sizing: border-box;
  width: 390px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;
  border: 2px solid #333;
  margin: 10px;
  padding: 0rem;
  text-align: center;
}

* {box-sizing: border-box;}
.reviews {
  width: 700px;
  margin: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #f2f2f2;
  border: 2px solid black;
  padding: 12px;
  font-size: 1.1em;
  line-height: 1.2em;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.reviews-img img {
  max-width: 100%;
  height: auto;
  display: flex;
  margin-top: 10px;
}
.reviews-img .aboutreviews {
  padding: 10px;
  color: black;
  background: #f2f2f2;
  text-align: center;
 /* text-transform: uppercase;*/
  border: 0.1em solid #333;
}
.all a:hover{
  text-decoration: none;
  color: black;  
}
.all{
  display: flex;
  justify-content: center;
}
.reviewsby{
  text-align: right;
  margin-top: 15px;
}
.reviews p{ 
  margin-bottom: 0.15em;
  margin: 2% 5%;
  font-size: 1em;
  line-height: 1.5em;
}
.star{
  display: flex;
  justify-content:center;
}
.comments {
  border: 5px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.comments h2{
    font-size:18px;
    margin-bottom:10px;
    margin-top:20px;
    text-align: center;
}
.comments p{
  text-align: center;
  margin-bottom: 0.15em;
  margin: 2% 5%;
  font-size: 1em;
  line-height: 1.5em;

}
.allcomments {
  box-sizing: border-box;
  margin-left: 10px;
  width: 100%; 
}
.comments::after {
    content: "";
    clear: both;
    display: table;
}
.aboutreviews div{
  align-items: center;
}


.comments img {
    float: left;
    border-radius: 60%;
    
}
@media (max-width: 500px) {
  .comments {
    text-align: center;
  }

  .comments img {
    margin: auto;
    float: none;
    display: block;
  }
}
.dleverytaingun  { 
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
  width: 100%;
} 
.mealitykadsets { 
  border-color: inherit; 
  margin: 0 10px; 
  font-size: 20px; 
} 
.reviewsall{
  display: flex;
  flex-wrap: wrap;
  color: black; 
  padding: 1em 10px;
  justify-content:center;
  box-sizing: border-box;
}
.sales{
  display: flex;
  color: black; 
  padding: 1em 10px;
  justify-content:center;
  flex-wrap: wrap;

}
.sales p{
  text-align: left;
  margin-bottom: 0.15em;
  margin: 2% 5%;
  font-size: 1.2em;
  line-height: 1.5em;
/*  padding: 4px 0;  
  margin-bottom: 0.15em;
  margin: 4% 5%;
  letter-spacing: 1px;
  text-align: left;
  line-height: 1.5em;
  font-family: Verdana, Helvetica, Arial, sans-serif;*/
}
.warning {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sales section{
  border: 2px solid black;
  margin-left: 10px;
  margin-right: 10px; 
}
.warning b{
    margin-top: 2px;
  line-height: 1.5em;
  float: left;
}
.sales div{
  border: 2px solid #333;
  text-align: center;
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:0 0rem 1rem 0rem;
  margin: 18px;
  width: 330px;
}
.sales img{
  margin-top: 10px;
  justify-content: space-around;
}
.sales h2{
    font-size:30px;
    margin-bottom:10px;
    margin-top:20px;
    text-align: center;
}
.sales h2{
    font-size:24px;
    text-align: center;
}
/* Хлеб*/
ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color: #D9D9D9;
}

ul.breadcrumb li {
display: inline;
font-size: 18px;
}

ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}

ul.breadcrumb li a {
color: #0275d8;
text-decoration: none;
  margin-right: 5px;
  margin-left: 10px;
  line-height: 2em;
}

ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;
}
/*Фильтр*/
.filtr{
/*  margin-left: 5px;*/
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap; 
  margin-bottom: 1%;
  justify-content: center;
}
/*.filtrfieldset{

  width: 600px;
}*/
.datePO {
  display: flex;
  padding: 5px 0 4px 10px;
  margin: 5px 5px 3px 5px;
  justify-content: flex-start;
  width: 100%;
}
.datePO b{
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.filtrfieldset  { 
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
} 
.filtrPOfiledset{
  width: 100%;
}
.filtrfieldsetuslugi  { 
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
} 
.filtrlegend { 
  border-color: inherit; 
  margin: 0 10px; 
  font-size: 20px; 
}
.filtrPO fieldset {
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
/*  width: 100%;*/
}
.filtrPO select{
    padding: 10px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.filtrPOuslugi{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.filtrPOuslugi fieldset {
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
}
.filtrPOuslugi select{
    padding: 10px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
}
.filtrPO{
  box-sizing: border-box;
  margin-left: 10px;
  display: flex;
    align-items: flex-start;
}
.filtrUsluga{
  width: 100%;
  display: flex;
  margin-left: 15px;
  padding: 5px 0 4px 10px;
  margin: 5px 5px 3px 5px;
  justify-content: flex-start;
}
.filtrUslugaa{
  width: 100%;
  display: flex;
  padding: 25px 1px 68px 0px;
  margin: 5px 5px 3px 5px;
  justify-content: flex-start;
}
.filtrMasters{
  box-sizing: border-box;
/*      padding: 5px 0 4px 10px;*/
  margin: 5px 5px 3px 5px;
  width: 100%;
  display: flex;
  margin-top: 5px;
  justify-content: flex-start;
  margin-left: 15px;
}
.staj{
  box-sizing: border-box;
  display: flex;
  margin-left: 15px;
}
.staj p{
  margin-top: 2px;
  line-height: 1.5em;
}
.filtrPO legend { 
  border-color: inherit; 
  margin: 0 10px; 
  font-size: 13px; 
  margin-top: 10px;
}
.filtrPO select{
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}
.halffiltr {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 26px;
  flex:2;
  margin-right: 20px;
/*  justify-content: center;*/
}
.halffiltr span b{
  width: 10px;
  margin-left: 10px;
  font-size: 15px;
  line-height: 2.5em;
}
/*input[type=search]{
    width: 120px;
    padding: 1px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}*/
.filtrUsluga input{
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.filtrUslugaa input{
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 10px;
}


.filtrMasters input{
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type=date]{
    width: 50%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type=number]{
  border-radius: 5px;
  width: 12%;
  margin-left: 10px;
  padding: 6px 1px;
}
.filtrPO{
  margin-bottom: 20px;
}
.filtr .buttonfiltr{
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:5px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  width: 100%;
  text-align: center;
}
.filtr .buttonfiltr:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.buttonlegeind{
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:2px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  margin-left: 5px;
}
/*Вкладка мастеров*/
.masters fieldset{
  border: 4px solid black;
  padding: 1px 1px 1px 1px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 1em;
  background-color: #eee;
}
.masters .masterslegend{
    margin-left:   16px;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
}
.masterstxt {
  display: flex;
  color: black; 
  padding: 1em 10px;
  justify-content:center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.masterstxt p{
  text-align: center;
  padding:2% 10% 1% 15%;
  font-size: 1.2em;
  line-height: 1.2em;
}
.masterstxt h2{
  text-align: center;
  padding:2% 10% 1% 15%;
  font-size: 1.6em;
  line-height: 1.2em;
}
.masterstxt div{
  border: 2px solid #333;
  text-align: center;
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:0 0rem 1rem 0rem;
  margin: 1.25rem;
}
/* Bordered form */
.vhod{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;

}
.vhod form {
    border: 3px solid black;
    width: 400px;
    background-color:  #eee;
}


input[type=text], input[type=password], input[type=email], input[type=telnum] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=mail]{
      width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=text1]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=textred]{
    padding: 5px 40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}

button {
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  width: 100%;
  cursor: pointer;
  padding: 14px 20px;
  margin: 8px 0;
}


button:hover {
    background:#D9D9D9;
    cursor: pointer;
}


.cancelbtn {
  /*  width: auto;*/
    padding: 10px 18px;
    background-color: #F2F2F2;
    /*margin-left: 10px;*/ 
}
/* .vhod .cancelbtn{
  margin-left: 16px;
} */
/* .vhod .regbtn {
  margin-left: -20px;
  margin-right: 20px;
} */
.reduser .cancelbtn{
  margin-left: 15px;
}
.reduser .regbtn {
  margin-left: -18px;
  margin-right: 20px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.regbtn{
    /*width: auto;*/
    padding: 10px 18px;
    background-color: #F2F2F2;
 /*   margin-right: 17px;*/
}

.container {
  padding: 16px;
}
.container .button{
  float: right;
}

span.psw {
  justify-content: center;
  display: flex;
  margin-top: 2%;
} 
span.psw a:hover{
  text-decoration: none; 
  color: black; 
}
.container input{
    border: 0.1em solid black;
    border-radius:5px;
}
.vhod .container1{
  display: flex;
  justify-content: space-between;
}
.newreviews .container1{
    display: flex;
  justify-content: space-between;
}
/*Главне услуги*/
.GlUslugi{

  display: flex;
  justify-content:center;
  flex-wrap: wrap;

}

.GlUslugi h2{
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 10px;
  display: flex; 
  font-size: 20px; 
}
.GlUslugi img{
  justify-content: space-around;
  margin-left: 20px;
  margin-bottom: 20px;
}
.GlUslugi  .button {
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding: .20em 7.2em calc(.10em + 3px);
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  justify-content: space-around;
  border: 0.1em solid black;
  display: flex;
  justify-content: center;
}
.button:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.GlUslugi figure {
  box-sizing: border-box;
  width:  340px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;
  border: 2px solid #333;
  margin: 1rem;
  padding: 0rem;
}
/*ПАГИНАТОР*/
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin-left: 5px;
    margin-right: 5px;
}


.pagination a.active {
    background-color: #A6A6A6;
    color: black;
}

.pagination a:hover:not(.active) {background-color: #eee;}
/*AKCII*/
/*.salesAll{
  display: flex;
  padding: 1em 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}*/
.saless{
/*  margin-left: 5px;*/
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap; 
  margin-bottom: 1%;
  justify-content: center;
  padding: 1em 10px;
  box-sizing: border-box;
}
.saless b{
  margin-top: 2px;
  line-height: 1.5em;
  float: left;
  margin-left: 10px;
}
.salesfieldset {
  background-color: #eee;
  /* width: 600px; */
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  border: 2px solid black;
  margin-right: 10px;
  margin-left: 10px;
}
.saleslegend { 
  border-color: inherit; 
  margin: 0 10px; 
  font-size: 20px; 
}

.salesinside {
  box-sizing: border-box;
 /* margin-left: 10px;*/
  display: flex;
  flex-direction: column;
/*  width: 590px;*/
/*  align-items: flex-start;*/
/*  flex-wrap: wrap; */
  margin-left: 10px;
  margin-right: 10px;
}

.salesP{
  display: flex;
  flex-wrap: wrap;
}

.salesCard{
  display: flex;
  flex-wrap: wrap;
}
.salesP p{
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 0.7px;
  line-height: 1.5em;
  /*width: 320px;*/
}
.salesCard p{
  font-size: 15px;
  /*margin-bottom: px;*/
  line-height: 1.5em;
  /*width: 320px;*/
}
.textandbutton .button{
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding: .10em 1.2em calc(.10em + 3px);
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  display: flex;
  justify-content: center;
  float: right;

}
.button:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.buttonbig{
  width: 500px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  text-align: center;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  color:#000000;
  border-radius:5px;
  margin-left:  20px;
  border: 0.1em solid black;
  font-size: 20px;
  transition:0.3s background;
  padding: .20em 1.2em calc(.10em + 3px);
}

.buttonbig:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.bigbutton{
  display: flex;
  margin-top:  3em;
  font-size: 18px;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}
/*Карточка услуги*/
.carduslugi{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*align-items: flex-;*/
}
.carduslugi fieldset{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carduslugi img{
  margin-top: 6px;
}
.zagolovcard h1{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: bold;
  display: flex;
  font-size: 40px;
  justify-content: space-around;
}
.uslugaprice {
  align-items: center;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
    margin-top: 5px;
  margin-bottom: 5px;
}
.uslugatime{
  align-items: center;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.filtrlegend a{
  border-color: inherit; 
  margin: 0 10px; 
  font-size: 19px; 
  text-decoration: none;
  color: black;
}
.filtrlegend a:hover{
  background-color: #D9D9D9;
  border-radius: 3px;
  cursor: pointer;
}
.carduslugs a:hover{
  background-color: #D9D9D9;
  border-radius: 3px;
  cursor: pointer;
}
.opisanieuslugi{
  border: 2px solid black;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin-left: 10px;
} 
.carduslugsfie p{
    padding: 10px 10px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
/*    border: 1px solid #ccc;*/
}
/*.uslugaprice input{
    width: 80%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.uslugatime input{
    width: 57%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}*/
.carduslugs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carduslugsfie{
  width: 270px;
  border: 2px solid black;
  background-color: #eee;
  margin-right: 10px;
  margin-left: 10px;
}
.carduslugsfie div{
  margin-left: 10px;
}
.carduslugsfie .button{
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding: .10em 1.2em calc(.10em + 3px);
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  display: flex;
  justify-content: center;
  margin-right: 16px;
  float: right;
  margin-top: 10px;
}
.button:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.allcardsus{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 10px;
  margin: 5px 5px 5px 5px;
}
.allcardsus div{
   margin: 10px;
}
/*Контакты*/
.contactsicon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contactsicon p{
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 0.7px;
  line-height: 1.5em;
  text-align: center;
}
.phonekont{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  flex-wrap: wrap; 
    margin-top: 5px;
  margin-bottom: 5px;
 /* width: 130px;*/
}
.geolkont{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  flex-wrap: wrap; 
    margin-top: 5px;
  margin-bottom: 5px;
  /*width: 130px;*/
}
.mailkont{
  align-items: center;
  display: flex;
  margin-right: 20px;
  flex-wrap: wrap; 
  justify-content: center;
    margin-top: 5px;
  margin-bottom: 5px;
/*  width: 130px;*/
}
.timekont{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  flex-wrap: wrap;
    margin-top: 5px;
  margin-bottom: 5px;
/*  width: 130px;*/
}
.vkkont{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  flex-wrap: wrap;
    margin-top: 5px;
  margin-bottom: 5px;
  /*width: 130px;*/
}
.youtubekont{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
 /* width: 130px;*/
}
.zagolov h2{
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex; 
  font-size: 20px; 
  margin-left: 15px;
}

/*.kont2 div{
  margin-right:  55px;
}*/
/*Форма обратной связи*/
.vhod textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    border-radius:5px;
}
.zagolovq h1{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: bold;
  display: flex;
  font-size: 40px;
  justify-content: space-around;
}
.content .btnq{
    width: 100%;
    padding: 10px 18px;
    background-color: #F2F2F2;
    /*margin-left: 90px;*/
}
/*Карточка подуслуги*/
.podcard{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.podcardop{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
/*   width: 300px;*/
}
.podcardopfie{
  /*width: 170px;*/
  border:none;
  margin-top: 10px;
}
.podcardopfie .uslugaprice{
  margin-left: 9px;
}
.content .podcardop div{
  margin-right: 50px;
}
.uslugadate{
  align-items: center;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px; 
}
.uslugadate input{
  width: 150px;
  margin-top: 10px;
}
.buttonadd{
  width: 285px;
  display: flex;
  justify-content: center;
  text-align: center;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  color:#000000;
  border-radius:5px;
  border: 0.1em solid black;
  font-size: 20px;
  transition:0.3s background;
  padding: .20em 1.2em calc(.10em + 3px);
}
.buttonadd:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.uslugapriceus {
  align-items: center;
  display: flex;
  flex-wrap: wrap; 
/*  justify-content: center;*/
    margin-top: 5px;
  margin-bottom: 5px;
}
.uslugatimeus{
  align-items: center;
  display: flex;
  flex-wrap: wrap; 
/*  justify-content: center;*/
  margin-top: 5px;
  margin-bottom: 5px;
}
.podcardop p{
  margin-left: 10px;
}
.uslugadate b{
  font-size: 16px;
  line-height: 1.7em;
  text-align: center;
  margin-top: 8px;
  margin-right: 10px;
}
.uslugadatee p{
	padding: 10px 10px;
    display: inline-block;
    box-sizing: border-box;
	text-align: left;
	line-height: 1.7em;
}
.cardpoduslugi{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
/*  width: 350px;*/
  /*align-items: flex-;*/
}
.opisaniepoduslugi{
  border: 2px solid black;
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin-left: 10px;
  margin-right: 10px;
}
.opisaniepoduslugicard{
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin-left: 10px;
  margin-right: 10px;
}
/*.remontPC {
  display: flex;
  flex-wrap: wrap;
}*/
.usbutton{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content .button{
  text-align: center;
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  /* margin-right: 10px; */
  padding:10px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  margin-top: 5px;
  /* margin-left: 5px; */
  margin-bottom: 5px;
}
.content .button:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.tabs { width: 69%; padding: 0px; margin: 0 auto; margin-top: 4em;}
.content .tabs>input { display:none; }
.content .tabs>div {
    display: none;
    padding: 12px;
    border: 1px solid black;
    background: #FFFFFF;
}
.content .tabs>label {
    display: inline-block;
    padding: 8px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #000000;;
    border: 1px solid black;
    background: #E0E0E0;
    cursor: pointer;
}
.content .tabs>input:checked + label {
    color: #666666;
    border: 1px solid black;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
.content #tab_1:checked ~ #txt_1,
.content #tab_2:checked ~ #txt_2
{ display: block; }
#txt_2 .reviews{
  /*margin: 0 auto;*/
}
/*Личный кабинет*/
.profile{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    align-items: flex-start;
}
.aboutuser{
  /*border: 2px solid black;*/
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*  background-color: #eee*/;
  /*margin-left: 10px;*/
}
.luser{
  width: 55%;
}
.buttonred{
  text-align: center;
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:10px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  margin-left: 6px;
  margin-top: 10px;
}
.buttonred:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.luser p{
  font-size: 16px;
  line-height: 1.7em;
  margin-top: 8px;
  margin-left:  10px;
  margin-bottom: 20px;
}
.buttonzak {
    text-align: center;
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:10px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  width: 100%;
  margin: 5px 5px 5px 5px;
}
.buttonzak:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.aboutuser img{ 
  margin-left: 5px;
  text-align: center;
 }
 .zagolovh2{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
 }
.historyus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.historyus fieldset{
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin: 15px;
 }
 .historyus p{
    font-size: 16px;
  line-height: 1.7em;
  margin-top: 8px;
  margin-left:  10px;
  margin-bottom: 20px;
 }
 .hisbtn{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }
 .btnhis{
     text-align: center;
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:10px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  width: 100%;
  margin: 5px 5px 5px 5px;
 }
.btnhis:hover {
    background:#D9D9D9;
    cursor: pointer;
}
/*Звездочки*/
.rating-area {
  overflow: hidden;
  width: 265px;
  margin-left: 10px;
  
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 40px;
  line-height: 50px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: black;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: black;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: black;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}
.container322{
   padding: 16px;
}
.container322 input{
    border: 0.1em solid black;
    border-radius:5px;
}
/*Редактировать профиль*/
.contai{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.redluser b{
  font-size: 16px;
  line-height: 1.7em;
  margin-left:  10px;
}
.redluser{
  width: 55%;
}
.redluser label{
  margin-top: 10px;
}
.redFIO{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.redmail{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    margin-top: 10px;
  margin-bottom: 10px;

}
.redphone{
      display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.reduser{
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reduser input{
     margin-right: 45px; 
     width: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.buttonzagolovokred input{
   width:380px;
   margin-right: 40px;

    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.btnsave{
  margin-right: 30px;
  margin-left: 30px;
}
/*Новый отзыв*/
.newreviews{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
}
.newreviews textarea{
      width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    border-radius:5px;
}
.salesCard textarea{
	width: 100%;
    padding: 1px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    border-radius:5px;
    height: 190px;
}
.reduserimg{
  width: 200px;
}
.crossX{
    margin-left: 5px;

  margin-top: 5px;
}
.magnifier{
  margin-right: 80px;
}
.pageX{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}
.pageX img:hover{
    background-color: #D9D9D9;
  border-radius: 3px;
  cursor: pointer;
}
.reduserimg{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.masterstxt{

} 
/*Корзина*/
.basket {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.buy {
  display: flex;
  flex-wrap: no-wrap
}
.bd{
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 35px;
}
.bd input{
  margin-right: 45px; 
  width: 200px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.bd select{
  margin-right: 45px; 
  width: 200px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.buyh2 h2{
  float: right;
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buy{
      display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    margin-top: 10px;
  margin-bottom: 10px;
}
.activezak {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.activezak a:hover{
	    background:#D9D9D9;
    cursor: pointer;
}
.activezak fieldset{
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin: 15px;
 }
 .activezak p{
    font-size: 16px;
  line-height: 1.7em;
  margin-top: 8px;
  margin-left:  10px;
  margin-bottom: 20px;
 }

 .addbtnus{
  text-align: center;
  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:10px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  width: 350px;
  margin: 20px 30px 5px 0px;
 }
.addbtnus:hover {
    background:#D9D9D9;
    cursor: pointer;
}
.show{
  display: none;
}
.show{
    font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:2px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  margin-left: 5px;
}
.show:hover{
      background:#D9D9D9;
    cursor: pointer;
}
.hide{
    font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding:2px;
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  border: 0.1em solid black;
  margin-left: 5px;
}
.hide:hover{
      background:#D9D9D9;
    cursor: pointer;
}
/*/*Карточка акции*/
.salesss{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.salesss img{
  margin-top: 10px;
}
.salesss h2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.btns{
	  font-weight: 700;
  background:#F2F2F2;
  border: none;
  text-decoration: none;
  padding: .20em 7.2em calc(.10em + 3px);
  color:#000000;
  border-radius:5px;
  transition:0.3s background;
  justify-content: space-around;
  border: 0.1em solid black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btns:hover{
      background:#D9D9D9;
    cursor: pointer;
}
.imgpodcard{
	margin-top: 10px;
}
.vhod .vhodtd{
	width: 58%;
}
.newreviews .container322 select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.salesimg {
  margin-top: 10px;
}
.content .formfiltr {
  width: 100%;
  border: 0px;
  margin-right: 5px;
}
#id_quantity {
  display: inline-block;
  width: 64%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: auto;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 6px;
}

.orderdiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.orderdiv form{
  border: 3px solid black;
  width: 400px;
  background-color: #eee;
}
.buyh2 h2{
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 10px;
  display: flex; 
  font-size: 20px; 
}
.orderdiv input[type = "checkbox"]{
  margin-top: 10px;
}

.orderdiv #id_ChashOrCard label{
  margin-bottom: 10px;
}

.order-info {
  border: 3px solid black;
  width: 200px;
  background-color: #eee;
  padding: 16px;
}

.information {
  border: 3px solid black;
  width: 400px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content .information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#id_order_date {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 0.1em solid black;
}

#id_order_time {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 0.1em solid black;
}

.redbd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formpsd {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.formpsd form{
  border: 3px solid black;
  width: 400px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.formpsd p{
  width: 90%;
  margin-top: 10px;
}

.formpsd ul{
  width: 90%;
  margin-right: 40px;
}

.formpsd ul li{
  width: 90%;
  line-height: 1.5em;
}
.zagolov p{
  text-align: center;
  margin-bottom: 20px;
}
.swiper-slide .remontpc{
	display:flex;
	justify-content: center;
	margin-bottom: 20px;
}