{% extends "base_generic.html" %}

            {% block contentresetconfirm %}
            <div class="zagolov">
                <h1>Изменения вашего проля</h1>
                <p>Пожалуйста, введите ваш новый пароль:</p>
            </div>
            {% if validlink %}
            <div class="formpsd">
                <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><button type="submit">Изменить пароль</button></p>
                </form>
            </div>
            {% else %}
                <p>The password reset link was invalid, possibly because it has
                    already been used. Please request a new password reset.</p>
            {% endif %}
        {% endblock %}
