{% extends 'cardmainservice.html' %}

{% block title %}Наши услуги{% endblock  %}

{% block AllUslugi %}

<div class="zagolovcard">
  <h1>{{ara.mainservice_name}}</h1></div>
  <div class="carduslugi">
    <img src= "{{ara.mainservice_images.url}}" width="380" alt="">
    <fieldset class="opisanieuslugi">										
    <legend class="filtrPOlegend">Что мы далаем</legend>
    <div class="salesP">
    <p>{{ara.mainservice_description}}</p></div>
    </fieldset>				
  </div>	
  <div class="filtr">
    <fieldset class="filtrfieldset">
    <legend class="filtrlegend">Фильтр:<a href="#" class="hide">Скрыть</a><a href="#" class="show">Показать</a></legend>
    <div class="filtrPO">
      <form class="formfiltr" action="{% url 'mainservices:mainservicedetail' ara.id %}">
          <div class="halffiltr">
            <fieldset class="filtrPOfiledset">
                            
              <legend class="filtrPOlegend">Сортировать по цене:</legend>
              <select name="searchpriceascdesc">
                <option>по возрастанию</option>
                <option>по убыванию</option>
              </select>
          </fieldset>		
          <div class="filtrUsluga"><input type="text" placeholder="Поиск услуги" name="searchservice"></div>
            </div>	
        <div class="srchbtn" type =submit><button>Найти</button></div>	
      </form>
    </div>	
    </fieldset>	
  </div>
  <div class="allcardsus">
  <div class="carduslugs">
    {% if mainservice %}
    {% for z in mainservice %}
    <fieldset class="carduslugsfie">
     
    <legend class="filtrlegend"><a href="{% url 'services:servicedetail' z.id %}">{{z.service_name}}</a></legend>
      <div class="uslugaprice"><img src="image/ruble.png"  alt=""><p>Цена: {{z.service_price}} рублей</p></div>
      <div class="uslugatime"><img src="image/averagetime.png"   alt=""><p>Среднее время: {{z.service_averagetime}} минут</p></div>			
     		
    </fieldset>	
    {% endfor %}	
    {% endif %} 

  </div>
  </div>			
  {% endblock  %}  		
  {% block pagination %}
  <div class="pagination">
  
    {% if mainservice.has_previous %}
      <a href="?page={{mainservice.previous_page_number}}">Назад</a>
    {% endif %}
    {% for pg in mainservice.paginator.page_range %}
      {% if mainservice.number == pg %}
      <a class="active" href="?page={{pg}}">{{pg}}</a>				
      {% else %}
      <a href="?page={{pg}}">{{pg}}</a>
      {% endif %}
    {% endfor %}
    {% if mainservice.has_next %}
      <a href="?page={{mainservice.next_page_number}}">Далее</a>
    {% endif %}
  </div>
    {% endblock %}   

  <!-- {% if ara.service_set.all %}
    <ul>
    {% for z in ara.service_set.all %}
        <li>"{{z.service_name}}"</li>        
        {% endfor %}
    </ul>     
    {% endif %}                -->


