{% extends 'base.html' %}

{% block title %}Разделы{% endblock  %}

{% block AllMainUslugi %}

    {% if mainservices_list %}

        {% for a in mainservices_list  %}

        <figure>
                <figcaption>
                  <h2>{{a.mainservice_name}}</h2>
                  <img src="{{a.mainservice_images.url}}" width="302" height="250">
                  {% if a.service_set.all %}
                    <ul>
                     {% for z in a.service_set.all %}
                        <li>{{z.service_name}}</li>        
                        {% endfor %}
                    </ul>     
                    {% endif %}               
                  <a href="{% url 'mainservices:mainservicedetail' a.id %}" class="button">Показать</a>
                </figcaption>
          </figure>
        {% endfor %}
    {% else %}

        Разделы не найдены

    {% endif  %}

{% endblock  %}